<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"  id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!DOCTYPE html>
<html>
<head>
	<title>Cloud Computing Assignment</title>

   
	<!--Bootsrap 4 CDN-->
	<link  type="text/css"  rel="stylesheet" href="/css/bootstrap.min.css">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" type="text/css" href="/css/all.css">

	<!--Custom styles-->
	<link type="text/css"  rel="stylesheet" href="/css/styles.css">
	
</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3 style="text-align: center;" ><%= msg %></h3>
				
				<br>
					

			</div>
			<div class="card-body">
			<div class="center">
					 <button onclick="window.location.href='/'" type="button" class="btn btn-info" >Logout</button> 
			</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>